header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #062b3d;
    color: #fcbeac;
}

header h1 {
    display: inline-block;
    font-size: 52px;
    font-weight: 700;
}

header h1 .Dodson {
    color: #c7f1f1;
}